/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.capital-list-container {
  background-color: #f8fafc;
  border-radius: 5px;
  padding: 10px;
  height: 45%;
  width: 50%;
  text-align: center;
}

.heading {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 30px;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.capital-select {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 5px;
  outline: none;
}

.option {
  font-family: 'Roboto';
  font-size: 12px;
}

.question {
  color: #000000;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 8px;
}

.country {
  color: #323f4b;
}
